<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login.css">
    <title>Login</title>
</head>
<body>
    <form action="/auth/postLogin" method="post">
        <div class="imgcontainer">
          <img src="https://i.pinimg.com/736x/c6/e5/65/c6e56503cfdd87da299f72dc416023d4.jpg"  alt="Avatar" class="avatar">
        </div>
      <h1 style="text-align: center;color: rgb(255, 255, 255);">LOGIN</h1>
        <div class="container">
          <label for="uname"><b>Email</b></label>
          <input type="text" placeholder="Enter Username" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit" style="width: 200px;margin-left: 265px;margin-right: 270px">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1;height: 30px;padding-top: 0px;border-radius:0px 0px 15px 15px ;">
         
          <span class="password">Forgot <a  style="color:dodgerblue" href="#">password?</a>/Create an <a  style="color:dodgerblue" href="/auth/register">Account?</a></span>
        </div>
      </form>
</body>
</html>